@page "/battle"
@page "/battle/{id:int}"
@inject IBattleRepository BattleService
@inject NavigationManager NavigationManager


@if (Id != null)
{
    <div class="gallery-top">
    <h2>Result:</h2>
    </div>
    <div class="battle-container">
    @foreach (var hamster in BattleService.Fighters)
    {
        <div class="hamster-item">
            <h3>@hamster.WinStatus</h3>
            <img src="@hamster.ImgName" alt="@hamster.HamsterName" class="hamster-img">
            <p>@hamster.HamsterName</p>
            <p>Games: @hamster.Games</p>
            <p>Wins: @hamster.Wins</p>
            <p>Losses: @hamster.Losses</p>
        </div>
    }
    </div>
}

<div class="gallery-top">
<h2>@headLine</h2>
</div>
<div class="battle-container">
@foreach (var hamster in BattleService.Hamsters)
{
    
    <div class="hamster-item">
        <img src="@hamster.ImgName" alt="@hamster.Name" @onclick="(() => UpdatePoints(hamster.Id))">
        <p>Name: @hamster.Name</p>
        <p>Age: @hamster.Age</p>
        <p>Favourite food: @hamster.FavFood</p>
        <p>Favourite thing: @hamster.FavThing</p>
    </div>
      
}
</div>


@code {


    [Parameter]
    public int? Id { get; set; }

    string headLine = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            headLine = "Next battle";
            await BattleService.GetFighters((int)Id);
            await BattleService.GetTwoHamsters();

        }
        else
        {
            headLine = "Battle";
            await BattleService.GetTwoHamsters();
        }

    }

    async Task UpdatePoints(int id)
    {
        string winStat = "";
        int gameId = await BattleService.AddGame();
        var loser = BattleService.Hamsters.FirstOrDefault(h => h.Id != id);

        if (loser != null)
        {
            winStat = "Loser";
            await BattleService.UpdateLosses(loser.Id);
            await BattleService.AddFighter(loser.Id, gameId, winStat);
        }
        winStat = "Winner";
        await BattleService.UpdateWins(id);
        await BattleService.AddFighter(id, gameId, winStat);

        NavigationManager.NavigateTo($"/battle/{gameId}", true);
        

    }


}

    
