@page "/hamster"
@inject IHamsterRepository _hamster
@inject NavigationManager _nav

<PageTitle>Add hamster</PageTitle>

<h3>Add a new hamster</h3>

<EditForm Model="@hamster" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <div>
        <label for="name">Name</label>
        <InputText id="name" @bind-Value="hamster.Name" class="form-control"></InputText>
        <ValidationMessage For="@(()=> hamster.Name)" />
    </div>
    <div>
        <label for="age">Age</label>
        <InputNumber id="age" @bind-Value="hamster.Age" class="form-control"></InputNumber>
        <ValidationMessage For="@(()=> hamster.Age)" />
    </div>
    <div>
        <label for="fav-food">Favourite food</label>
        <InputText id="fav-food" @bind-Value="hamster.FavFood" class="form-control"></InputText>
        <ValidationMessage For="@(()=> hamster.FavFood)" />
    </div>
    <div>
        <label for="fav-thing">Favourite thing</label>
        <InputText id="fav-thing" @bind-Value="hamster.FavThing" class="form-control"></InputText>
        <ValidationMessage For="@(()=> hamster.FavThing)" />
    </div>
    <br />
    <div>
        <label for="image">Image</label>
          <InputFile OnChange="@LoadFile" @bind-Value="hamster.ImgName" accept=".png,.jpg,.jpeg"></InputFile> 
    </div>
    
    <br />
    <p style="color: firebrick; font-size: 1.3rem;">@errorMessage</p>
    <button type="submit" class="btn btn-primary">Save hamster</button>
    
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }

    private long maxFileSize = 1024 * 500;
    private IBrowserFile pendingFile;
    private string? fileName;
    private string errorMessage = string.Empty;

    Hamster hamster = new Hamster();

    string ImageURL = string.Empty;

    void LoadFile(InputFileChangeEventArgs e)
    {
        pendingFile = e.File;
        fileName = e.File.Name;
    }

    bool CheckValidTypes()
    {
        string[] vaildTypes = { "png", "jpg", "jpeg" };
        string fileExtension = fileName.Split('.').Last();
        return vaildTypes.Contains(fileExtension.ToLower());
        
    }

    async Task SaveFile()
    {
        try
        {
            var storedFileName = string.Format(@"{0}.jpg", Guid.NewGuid());

            var path = $"wwwroot/Content/images/savedImages/{storedFileName}";

            await using FileStream fs = new(path, FileMode.Create);
            await pendingFile.OpenReadStream(maxFileSize).CopyToAsync(fs);

            string dbPath = $"/Content/images/savedImages/{storedFileName}";
            hamster.ImgName = dbPath;

        }
        catch
        {
            throw new ArgumentException();
        }
    }

    async Task HandleSubmit()
    { 
        if (fileName == null)
        {
            errorMessage = "Please select a file.";
            return;
        }

        bool isValid = CheckValidTypes();
   
        if (!isValid)
        {
            errorMessage = "The file type is not allowed.";
            return;
        }

        if (pendingFile.Size > maxFileSize)
        {
            errorMessage = "The file is too large.";
            return;
        }

        await SaveFile();
            
        await _hamster.AddHamster(hamster);
            
        _nav.NavigateTo("gallery");
    }

}
