@page "/hamsterinfo/{id:int}"
@inject IHamsterRepository HamsterService



    <div>
        <img src="@hamster.ImgName" alt="@hamster.Name" class="hamster-img">
        <p>Name: @hamster.Name</p>
        <p>Age: @hamster.Age</p>
        <p>Favourite food: @hamster.FavFood</p>
        <p>Favourite thing: @hamster.FavThing</p>
    </div>


           

@code {
    Hamster hamster = new Hamster();
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hamster = await HamsterService.GetOneHamster(Id);
    }


}